.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-block {
  position: absolute;
  border-radius: 10px;
  width: 600px;
  height: auto;
  background: #fff;
  top: 3.5em;
  left: 26em;
}

.cancel-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  margin-top: 4px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
